.nav{
    position:relative;
    display : flex;
    justify-content:flex-end;
    top:0;
    right:0;
    left: 0;
    background-color : transparent;
}
nav button{
    font-family: "Pacifico",  serif;
    letter-spacing : 2px;

}

.user-avatar{
    padding : .5%;
    width : 50px;
    height: auto;
    position :absolute;
    left:20px;
    border-radius : 50%;
    background: linear-gradient(to right top, #004d7a, #008793, #00bf72, #a8eb12);
    animation: movRight 1s ease-in-out .2s;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
    transition: all .4s ease-out ;
    animation-fill-mode: backwards;
}
.user-avatar-clicked{

    transform : scaleX(80) scaleY(60);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.6);
    z-index: 2000;
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));

}
.user-avatar:hover{
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.hide-user-image{
    display : none;
}
@keyframes movRight {
    0% {
        opacity: 0;
        transform: translateX(-10rem); }
    80% {
        transform: translateX(1rem); }
    100% {
        opacity: 1;
        transform: translateX(0); }
}
.menu{
    color: white;
    font-family: "Pacifico" , serif;
    font-size : 3rem;
    letter-spacing: 1px;

    position : absolute;
    left : 10%;
    top : 100%;
    z-index: 3000;
}
.user-info-form{
    position : absolute;
    left : 50%;
    top : 100%;
    z-index: 3000;
}