.nav{
    position:relative;
    display: flex;
    justify-content: flex-end;
    top:0;
    right:0;
    left: 0;
    background-color : transparent;
}
button{
    font-family: "Pacifico",  serif;
    letter-spacing : 2px;
}