.element img{
    width: 10vw;
    height : auto;
    margin : 2% auto;
}
.element h5{
    font-family: "Pacifico", serif ;
    font-weight: bold;
    font-size : 1.5em;
    letter-spacing: 1px;
    color : white;
}
.element p{
    font-family: "Palatino Linotype", serif ;
    letter-spacing: 1px;
    font-weight : bold;
    color : white;
}
