
.hint{
    color : white;
    font-weight: bold;
    letter-spacing:4px;
    font-family  : "Pacifico" , serif;
    font-size : 2em;
    padding : 0px 30px;
}
.m-hint{
    color : white;
    font-weight: bold;
    font-family  : "Pacifico" , serif;
    font-size : 1.4em;
    margin-top: 3px;
}
.logo{
    margin-left: auto;
    margin-right: auto;
}
.btnMain{
    font-family: "Pacifico", serif ;
    font-size : 1.5em ;
    letter-spacing :3px;
}