.dashboard{
    margin-top: 6% ;

}
.elements{
    margin : 60px auto;
}
.element{
    box-shadow: 0 .8rem .8rem rgba(0.8,0.8,0.8,0.5);
    transition: all .2s ease-in-out;
    background-color: transparent;

}
.elements .element:hover{
    cursor: pointer;
    transform : scale(1.05) translateY(-10px) ;
    background-color: #00bf72;


}
.elements:hover .element:not(:hover) {
    transform: scale(0.95);
    box-shadow: 0 .3rem .3rem black;
}
.element:active{
   transform: scale(0.95) translateY(-10px)!important;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    transition: all .2s linear;
}
.dash-title{
    font-family: "Pacifico", serif;
    letter-spacing : 2px;
    font-size : 4vw;
    color : white;
    text-shadow: 2px 2px grey;


}